.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  &__form_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__content {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    width: 100%;

    flex-grow: 1;
    align-content: center;

    padding: 30px;
  }

  &__weather-card {
    width: 100%;
  }

  &__weather {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #1d1f26;
    flex-grow: 1;
    padding: 16px;
  }
}
