.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  &__form_disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  &__content {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    width: 100%;

    flex-grow: 1;
    align-content: center;

    padding: 30px 10px;
  }

  &__weather {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #1d1f26;
    flex-grow: 1;
    padding: 16px;
  }

  &__forecast {
    margin-top: 20px;
    padding: 10px;

    background-color: #272a33;
    border-radius: 5px;

    &-title {
      margin: 0 0 15px 0;
    }

    &-cards {
      display: flex;

      @media (max-width: 580px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
